*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    color: white;
    font-family: sans-serif;
}

.location, .temperature{
    display: flex;
    height: 30vh;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

.location{
    padding: 1px;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.degree-section span, .degree-section h2{
    font-size: 30px;
    cursor: pointer;
    margin: 5px;
}

.temperature-description{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    /* Styles for screens smaller than 768px */
    .location,
    .temperature {
      flex-direction: column;
      height: auto;
      width: 80%;
    }
    
    .location {
      margin-bottom: 10px;
    }
  
    .temperature-description {
      margin: 20px;
    }
  }